
.formulario{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.formulario1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

  @media (max-width: 800px) {
    .formulario{
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
    .formulario1{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }
