<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="contenedor">
        <div class="main">
             <img class="imagen" src="./IMG/combo8.jpg" alt="">
             <div class="main2">
               <button class="button">-</button>
               <p>1</p>
               <button class="button">+</button>
               <h3>$5000.00</h3>
             </div>               
        </div>
        <div class="main">
              <img class="imagen" src="./IMG/combo2.jpeg" alt="">
              <div class="main2">
               <button class="button">-</button>
               <p>1</p>
               <button class="button">+</button>
               <h3>$2000.00</h3>
             </div>
        </div>
        <div class="main">
         <h2>Total: $7000</h2>
        </div>
     </div>
        <%- include('../partials/footer.ejs') %>
</body>
</html>