<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/DetailProduct.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <section class="main">
        <div class="item1">
            <h1 class="H">Combo 1- COD-1034</h1>
            <img src="./IMG/combo8.jpg" class="imagen" alt="">
            <h2 class="H">$3.500.00</h2>
            <p class="p">*El precio ya incluye los bidones de 5Lts nuevos y precintados sin necesidad de intercambiar </p>
            <p class="p">Con bidones reutilizados e intercambiables el valor del combo es menor. Consultar.</p>
          </div>
    </section>
    <%- include('../partials/footer.ejs') %>
</body>
</html>