<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <form action="" method="post" class="formulario">
        <label for="username">Usuario</label>
        <input type="text" placeholder="Ingrese su Usuario" name=" username" id="username"  required>

        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingrese su contraseña" name="password" id="password" required>
            
        <button type="reset">RESET</button>
        <button type="menu">ENVIAR</button>
    </form>
    <%- include('../partials/footer.ejs') %>
</body>
</html>