* {
    box-sizing: border-box;
}
:root{
    --encabezado: rgb(12, 126, 45);
    --letrasblanco: white;
}
.body {
  margin: 0;
  overflow: hidden;
}
/* ------------------HEADER------------ */
.nav {
    width: 100%;
    background-color:var(--encabezado);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    padding: 0px;
  }
  .nav a {
    color: var(--letrasblanco);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  .nav a:hover {
    background-color: #ddd;
    color: rgb(18, 192, 15);
  }
  /* ------MAIN----------- */
.formulario{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* -----------------FOOTER----------------------- */
.footer {
    width: 100%;
    height: 150px;
    padding: 10px;
    background: var(--encabezado);
    color: var(--letrasblanco);
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
  }
  .imagen3 {
    width: 20%;
    height:50px; 
    margin: 10px; 
  }
  @media (max-width: 800px) {
    .nav{
      flex-direction: column;
      justify-content: flex-start;
    }
    .footer{
      flex-direction:column;
      justify-content: flex-start;
      height: 300px;
      flex-direction: column;
    }
  }
