<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/formInit.css">
</head>
<body>
    <div class="nav">
        <a href="/home">Inicio</a>
        <a href="/DetailProduct">Producto</a>
        <a href="/cart">Carrito</a>
        <a href="/formInit">Inicio Sesion</a>
        <a href="/formRegistro">Registro</a>
    </div>
    
    

    <form action="" method="post" class="formulario">
        <label for="username">Usuario</label>
        <input type="text" placeholder="Ingrese su Usuario" name=" username" id="username"  required>

        <label for="password">Contraseña</label>
        <input type="password" placeholder="Ingrese su contraseña" name="password" id="password" required>
            
        <button type="reset">RESET</button>
        <button type="menu">ENVIAR</button>
    </form>

    <div class="footer">
        <div class="footer2">
          <h2>Contacto</h2>
          <p>Celular: 3755-557599</p>
          <p>e-mail: cleanesmeralda@gmail.com</p>
       </div>
       <div class="" style="height:100px;">
         <a href="https://www.facebook.com/producto.esmeralda"><img class="imagen3" src="./img/facebook.jpg" alt=""></a>
         <a href="https://www.whatsapp.com/catalog/5493755557599/?app_absent=0">  <img class="imagen3" src="./img/wasap.jpg" alt=""></a>
         <a href=""><img class="imagen3" src="./img/instagram.jpg" alt=""></a>
       </div>
    </div>
</body>
</html>